html{
  font-family: 'Roboto', sans-serif;
}

body{
  background: #fff;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}


.search-bar {
  width: 90%;
  height: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 8px;
  padding: 10px 1px;
  box-shadow: 1px 1px 1px #d9d9d9, -1px -1px 1px #d9d9d9;
  margin-left:235px;
  margin-right: 60px;
  padding-right: 140px;
  /* background-color: red; */
}

.card1{
  /* background-color: yellow; */
  display: flex;
  /* justify-content: ; */
  margin-left: 15px;

  
}

.search-bar .input {
  width: 250px;
  border: none;
  outline: 0px;
  font-size: 1rem;
  font-weight: 400;
  outline-offset: 0px;
  border: 0px;
  color: #44475b;
  letter-spacing: .01em;
  line-height: 160%;
  /* background-color: red; */
  /* padding: 0px 10px; */
  
}


.btn button {
  padding: 15px 35px;
  color: white;
  background-color: #00d09c;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 15px;
  outline: 0px;
  border: hidden;
  overflow: hidden;
}

.head {
  height: 100px;
  padding: 0px 15vw;
  display: flex;
  /* background-color: yellow; */
  align-items: center;
}

hr {
  background-color: lightgray;
  border: hidden;
  overflow: hidden;
  height: 0.5px;
}

.lists{
  /* background-color: yellow; */
  /* height: 20px; */
}

.lists ul {
  display: flex;
  align-items: center;
}

.lists ul li {
  list-style: none;
  padding: 0px 4px;
  color: #7c7e8c;
  font-size: 12px;
}

.lists ul li:hover {
  cursor: pointer;
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 57px;
  margin-top: -7px;
  /* background-color: red; */
}

.share img {
  color: #7c7e8c;
  padding: 0px 5px;
}

.share span {
  color: #7c7e8c;
  font-size: 12px;
}

.li-share {
  display: flex;
  align-items: center;
  padding: 0px 15vw;
  /* background-color: aqua; */
  justify-content: space-between;
  margin-top: 6px;
}

.head1 {
  padding: 0px 15vw;
  margin-top: 15px;
}

.head1 h1 {
  color: #44475b;
  font-weight: normal;
}

.slider-container {
  margin-top: 60px;
  margin-left: 15vw;
  height: 87vh;
  width: 44vw;
  border: 1px solid lightslategray;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ecedef;
}

.btn1 {
  margin-top: 24px;
  padding: 10px 15px;
  background-color: #e5faf5;
  color: #00d09c;
  margin-left: 25px;
  border-radius: 18px;
  overflow: hidden;
  border: hidden;
  font-size: 1rem;
  font-weight: 500;
}

.slider-container .l1 {
  padding-left: 30px;
  color: #7c7e8c;
  font-size: 20px;
}

.main-sliders {
  margin-top: 40px;
  margin-left: 30px;
  /* background-color: aqua; */
  width: 395px;
  height: 100px;
}

.main1 {
  color: #44475b;
  font-size: large;
}

.num1 {
  /* margin-left: 89px; */
  border: none;
  height: 30px;
  width: 79px;
  background-color: #e5faf5;
  flex-grow: 1;
  outline: 0px;
  opacity: 1;
  padding-right: 0px;
  caret-color: #00d09c;
  -webkit-text-fill-color: #00d09c;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: .01em;
  line-height: 160%;
  padding-right: 8px;
  
}

.num2 {
  margin-left: 89px;
  border: none;
  border: 0px;
  outline: 0px;
  opacity: 1;
  caret-color: #00d09c;
  -webkit-text-fill-color: #00d09c;
  background-color: #e5faf5;
  height: 30px;
  width: 95px;
  flex-grow: 1;
  /* padding-right: 8px; */
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: .01em;
  line-height: 160%;
}

.percentage{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; 
  background-color:#e5faf5;
  width: 20px;
  margin-left: 105px;
}

.symbol-per{
  height: 30px;
  width: 55px;
  color: #00d09c;
  background-color: #e5faf5;
  display: flex;
  align-items: center;
  border: none;
  padding-right: 5px;
}

.s2{
  display: flex;
  align-items: center;
  /* height: 30px;
  width: 0px; */

}

.num3 {
  margin-left: 10px;
  padding-bottom: -10px;
  height: 30px;
  width: 122px;
  border: none;
  text-align: right;
  flex-grow: 1;
  outline: 0px;
  opacity: 1;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: .01em;
  line-height: 160%;
  caret-color: #00d09c;
  -webkit-text-fill-color: #00d09c;
  background-color: #e5faf5;
  /* background-color: red; */
  padding-right: 0px;
}

.sym-yr{
  height: 30px;
  width: 5px;
  color: #00d09c;
  background-color: #e5faf5;
  display: flex;
  align-items: center;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 15px;
}

.year{
   display: flex;
   align-items: center;
   margin-left: 210px;
   background-color: #e5faf5;
   width: 20px;
}

.s3{
  display: flex;
  align-items: center;
}

.sliderbar {
  margin-top: 35px;
}

input[type="range"]{
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 400px;
  height: 4px;
  background-color: #ecedef;
  border-radius: 8px;
  outline: none;
  
}

input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 8px;
  
}

input[type="range"]::-moz-traack{
  -moz-appearance: none;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  
  height: 28px;
  width: 28px;
  line-height: 40px;
  background-color:  #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -12px;
  border: none;
  box-shadow: 10px 3px 5px 2px rgb(0,0,0,.1);
}

input[type="range"]::-moz-range-thumb{
  -moz-appearance: none;
  height: 28px;
  width: 28px;
  line-height: 40px;
  background-color:  #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
  box-shadow: 0px 3px 5px 2px rgb(0,0,0,.1);
}

.s1{
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



input[type=number] {
  -moz-appearance: textfield;
}



input[type="number"] {
  text-align:right;
  direction: rtl;
  /* margin-right: 2px; */
}

.amount-display{
  width: 30px;
  background-color: #e5faf5;
  /* background-color: red; */
  margin-left: 150px;
  display: flex;
  align-items: center;
  
}

.symbol{
  display: flex;
  align-items: center;
  justify-content: center;
   width: 30px;
   height: 30px;
   padding-left: 6px;
  color: #00d09c;    
  background-color: #e5faf5;
}



.slider {
  width: 400px;
}

.circular-bar{
  /* background-color: red; */
  width: 16vw;
}




.circle-bar{
  /* background-color: #00d09c; */
  height: 250px;
  margin-top: 50px;
}


.progress-circle-bar{
  display: flex;
  justify-content:space-between;
  margin-top: -4px;
  margin-left: 2px;
}

.d1{
  width: 20px;
    height: 9px;
    border-radius: 10px;
    display: inline-block;
    margin: -1px 4px -1px 0;
    background-color: #98a4ff;
}

.d2{
  width: 20px;
    height: 9px;
    border-radius: 10px;
    display: inline-block;
    margin: -1px 4px -1px 0;
    background-color: #5367ff;
    margin-left: 25px;
}

.bottom{
  /* background-color: yellow; */
  margin-top: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.values{
  /* background-color: aqua; */
  margin-left: 30px;
  width: 25vw;
  
}

.sen{
  color: #7c7e8c;
}

.message{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 160%;
  color: rgb(0, 0, 0);
}

.v1{
  margin-top: 15px;
  margin-bottom: 20px;
  width: 25vw;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.v2{
  margin-bottom: 20px;
  width: 25vw;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.v3{
  margin-bottom: 20px;
  width: 25vw;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.btn5{
  padding: 15px 30px;
  color: white;
  background-color: #00d09c;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 15px;
  margin-right: 50px;
  outline: 0px;
  border: hidden;
  overflow: hidden;
}

.info{
  color: #7c7e8c;
  letter-spacing: .01em;
    line-height: 160%;
    font-size: .75rem;
}

.amount{
  margin-top: 52px;
  margin-left: 10px;
}

.progress-bar{
  /* padding: -3px 0px; */
}

.s3{
  /* background-color: yellow; */
   margin-top: -25px;

}

.rightbox {
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
  height: 310px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #ecedef;
  margin-left: 55px;
  margin-top: 60px;
  text-align: center;
}

.box{
  display: flex;
  }

.rightbox img{
  width: 130px;
  height: 87px;
  aspect-ratio: auto 130/87;
  overflow-clip-margin: content-box;
  margin-top: 20px;
}

.text{
  margin: 15px 0 20px;
  letter-spacing: .01em;
  line-height: 160%;
  font-size: 1.25rem;
  color: #44475b;
}

.text1{
  margin-bottom: 40px;
  color: #7c7e8c;
  letter-spacing: .01em;
  line-height: 160%;
  font-size: .875rem;
  padding: 0px 30px;
}

.bohead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #00d09c;
  color: #fff;
  padding: 10px 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  bottom:10px;
}

.bnt4{
  display: inline-block;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    
}

a{
  display: block;
  padding: 8px 15px;
  cursor: pointer;
  color: #44475b;
  border-bottom: 1px solid #ecedef;
  text-decoration: none;
}

.table{
margin-top: 20px;
  border: 1px solid #ecedef;
  border-radius: 5px;
  margin-left: 55px;
}

.tablehead{
  border: 1px solid #ecedef;
  padding: 10px 15px;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 160%;
  font-size: 1rem;
  display: block;
  color: #44475b;
}

.tble{
  margin-top: 20px;
  margin-left: 55px;
  border: 1px solid #ecedef;
  display: block;
  text-indent: initial;
  border-spacing: 2px;
}

.tblehead{
  border-bottom: 1px solid #ecedef;
  padding: 10px 15px;
  font-weight: 500;
  letter-spacing: .01em;
  line-height: 160%;
  font-size: 1rem;
}

h2{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 35px;
  font-weight: 500;
  display: block;
  font-size: 1.5em;

}

.main-content{
  width: 44vw;
  margin-left: 15vw;
}

.para{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 28px;
  margin-bottom: 26px;
  text-align: left;
  color: #44475b;
}

.information{
  width: 44vw;
  margin-left: 15vw;
}

ul{
  /* padding-left: 17px; */
  text-align: left;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-inline-start: 0px;
}

li{
  line-height: 28px;
  margin-bottom: 10px;
  text-align: left;
  display: list-item;
  color: #44475b;
}

.formula{
  width: 44vw;
  margin-left: 15vw;
}



/* tale 1  */

.table-row{
  width: 44vw;
  margin-left: 15vw;
  border-collapse: collapse;
  border: 1px solid #ecedef;
  text-align: left;
  color: #44475b;
  font-weight: 500;
  font-size: 1.5rem;
}

tr{
  text-align: left;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-collapse: collapse;
}

.row{
  background-color: #ecedef;
  padding: 12px 10px;
  vertical-align: text-top;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ecedef;

}

.r1{
      color: black;
}

td{
  border: 1px solid #ecedef;
}

.sip-work{
  width: 44vw;
  margin-left: 15vw;
}

.table-heading{
  text-align: left;
  font-style: italic;
  width: 47vw;
  margin-left: 15vw;
  font-size: 16px;
  color: #44475b;
  line-height: 28px;
}

.mf{
  font-style: normal;
  color: #00d09c;
}

.hr1{
  margin-top: 20px;
  width: 46vw;
  margin-left: 15vw;
  background-color: rgb(73, 72, 72);
  border: hidden;
  overflow: hidden;
  height: 0.5px;
}

/* table 2 */

.tb2{
  margin-top: 20px;
  margin-left: 15vw;
  width: 45vw;
  color: #00d09c;
  border-collapse: collapse;
  padding: 0px;
 }


.bac-col{
  background-color: #ecedef;
  }

.pad{
  padding-top: 15px;
  padding-bottom: 15px;
 }

 .pl{
  padding-left: 10px;
 }

.bor{
  border: 1px solid #ecedef;
}


.footer{
  margin-top: 100px;
  margin-left: 15vw;
  margin-right: 40vw;
  /* background-color: black; */
  /* padding: 0px 15vw; */
  color: white;
  padding-left: 0px;
}

.fa{
  /* padding: 0px 15vw; */
  font-size: 500;
  color: #44475b;
  letter-spacing: .01em;
  line-height: 160%;
  font-size: 1.25rem;
}

ul{
  /* background-color: #00d09c; */
  padding-left: 0px;
}

.accordion{
  margin-top: 20px;
}

.accordion li{
     list-style: none;
     padding: 15px 0px;
}

.accordion li label{
     display: flex;
     align-items: flex-start;
     cursor: pointer;
     font-weight: 400;
     letter-spacing: .01em;
     line-height: 160%;
     font-size: 1rem;
     color: #44475b;
     position: relative;
}

label::after{
  content: 'Ë…';
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  height: 5px;
}

input[type="radio"]{
  display: none;
}


.accordion .content{
  text-align: left;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s, padding  0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
  max-height: 500px;
  padding: 30px 0px;

}

.links{
  width: 100vw;
  height: 500px;
  background-color: #1e2232;
  margin-top: 85px;
  position: relative;
}

.il{
  position: absolute;
  display: flex;
  align-items: center;
  top: 45px;
  padding-left: 15vw;
  /* background-color: #00d09c; */
  width: 100vw;
  height: 30px;
}

.l{
  display: flex;
 
}

.l li{
  list-style: none;
  padding: 0px 110px;
  color: #fff;
  font-size: 1.125rem;
  letter-spacing: .01em;
  line-height: 160%;
}

.center{
  position: absolute;
  top: 80px;  
  /* background-color: #5367ff; */
  width: 100vw;
  display: flex;
  align-items:self-start;
  padding-left: 15vw;
  margin-right: 10px;
}


.main-con{
  width: 270px;
  /* background-color: blueviolet; */
 display: flex;
 flex-direction: column;
  height: 200px;
  margin-top: 15px;
}

.social-media-img{
  width: 270px;
  /* background-color: yellow; */
  display: flex;
  align-items: flex-start;
 justify-content: flex-start;
 position: absolute;
 bottom: 55px;
 /* padding: 0px 0px; */
}

.main-list{
  display: flex;
  /* background-color: green; */
  /* padding-top: 0px; */
  position: relative;
  width: 900px;
}

ul li{
  list-style: none;
}

.l1{
  /* background-color: #00d09c; */
  
  top: 0px;
}

.l2{
  /* background-color: #5367ff; */
  margin-left: 188px;
}

.l3{
  /* background-color: brown; */
  
  margin-left: 183px;
}


.l1 li{
  text-decoration: none;
   color: #fff;
   min-height: 1px;  
   padding-top: 0px;
   padding-bottom: 0px;
}

.l2 li{
  text-decoration: none;
  color: #fff;
  min-height: 1px; 
}

.l3 li{
  text-decoration: none;
  color: #fff;
  min-height: 1px; 
}

.main-con span{
  color: #fff;
}

.img img{
  color: #fff;
  
}

.groww-rights{
  /* background-color: #00d09c; */
  width: 100vw;
  position: absolute;
  top: 390px;
  display: flex;
  align-items: center;
  padding-left: 15vw;
  /* margin-left: 15vw; */
  /* margin-left: 20vw; */
  padding-right: 20vw;
  
}



.img-right{
  margin-left: 360px;
  padding: 0px 10px;
}

.statement-right{
  color: #fff;
}

.statement-right .heart{
  color: #eb5b3c;
  width: 21.91px;
  height: 43px;

}



.circle-bar{
  /* background-color: #00d09c; */
  height: 250px;
  margin-top: 50px;
  padding-left: 20px;
}


.cb-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: palevioletred;
  padding: 21px;

  /* background: conic-gradient(#98a4ff  270deg  , #5367ff 0deg); */
}

.wraper{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 50%;
  /* padding-left: 30px; */
  padding-top: 10px;
  /* padding-bottom: 5px; */
}


.last{
  height: 500px;
  background-color: #191c27;
  position: relative;
  width: 100%;
  padding: 5px 0px;
  letter-spacing: .01em;
  line-height: 160%;
}


.para-head{
  position: absolute;
  top: 45px;
  /* background-color: #00d09c; */
  font-size: 13px;
  width: 100%;
  display: flex;
  color: #fff;
}

.last-p-1{
  margin-left: 15vw;
}

.last-p-2{
  margin-left: 45vw;
}

.second-para{
  position: absolute;
  top: 90px;
  /* background-color: #00d09c; */
  width: 100%;
  margin-left: 15vw;
  }

  .second-line{
    /* padding: 0px 25px; */
    font-size: 15px;
  }

  .co-whi-2{
    color: #fff;
    padding-right: 5px;
  }

  .co-aq-2{
    color: #00d09c;
    padding: 0px 5px;
  }

  .third-para{
    position: absolute;
    top: 120px;
    /* background-color: #00d09c; */
    margin-left: 15vw;
    margin-right: 21vw;
    font-size: 15px;
  }

  .co-whi-3{
    color: #fff;
  }

  .co-aq-3{
    color: #00d09c;
  }


.fourth-para{
  position: absolute;
  top: 200px;
  /* background-color: #00d09c; */
  margin-left: 15VW;
  width: 63vw;
  font-size: 15px;
}

.co-whi-4{
  color: #fff;
}

.co-aq-4{
  color: #00d09c;
  padding: 0px 5px;
}

.vline{
  color: #fff;
  padding: 0px 3px;
}

.fifth-para{
   position: absolute;
   top: 330px;
   /* background-color: #00d09c; */
   margin-left: 15vw;
   width: 63vw;
   font-size: 15px;
}

.co-whi-5{
  color: #fff;
}

.co-aq-5{
  color: #00d09c;
  padding-left: 5px;
}

.sixth-para{
  position: absolute;
  top: 430px;
  /* background-color: #00d09c; */
  margin-left: 15vw;
  width: 63vw;
  font-size: 15px;
}

.co-whi-6{
  color: #7c7e8c;
}

.co-aq-6{
  color: #7c7e8c;
  padding-left: 5px;
}

.vlin{
  color: #7c7e8c;
  padding: 0px 5px;
}
























































